@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Fascinate+Inline&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --azul-fraquinho: rgb(220, 225, 227);
    --azul-ciano: #e0fbfcff;
    --melao: rgb(28, 60, 78);
    --laranja: #ee6c4dff;
    --pretao-metal: rgb(38, 46, 60);
    --fonte-titulo: "Fascinate Inline", system-ui;
    --fonte-texto: "Dongle", sans-serif;
}

body{
    background-color: var(--azul-ciano);
    font-family: var(--fonte-texto);
    color: var(--azul-fraquinho);
    height: 100vh;
}

header{
    background-color: var(--azul-fraquinho);
    text-align: center;
}

h1{
    font-family: var(--fonte-titulo);
    font-size: 3rem;
    color: var(--pretao-metal);
    padding: 0.5rem;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--pretao-metal);
    font-size: 1.5rem;
    margin: 0 2rem 1rem 0;
}

nav a:hover {
    text-decoration: underline;
    color: var(--pretao-metal);
    transform: scale(0.9);
    transition: transform 0.2s;
}

    .caixa-grafico{
        margin: 5rem;
        font-size: 1.5em;
        background-color: var(--melao);
        padding: 1em;
        border-radius: 20px;
        border: var(--azul-fraquinho) double 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.caixa-gráfico__texto{
    font-size: 1.5rem;
    padding: 1.5em 0 1.5em 0;
}

span{
    font-family: var(--fonte-titulo);
    color: var(--azul-fraquinho);
    font-size: 1.1em;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--melao);
    color: var(--azul-fraquinho);
    width: 100%;
    height: 2em;
    margin-top: 2em;
    font-size: 1.5em;
}